.common {
  bottom: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition-duration: 0.5s;
  transition-property: left;
}

nav {
  background-color: LightBlue;
  left: 0;
  width: 300px;
}

nav + .content {
  background-color: LightGreen;
  left: 300px;
  right: 0;
}

nav.hidden {
  left: -300px;
}

nav.hidden + .content {
  left: 0;
}
