.common {
  bottom: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition-duration: 0.5s;
  transition-property: left;
}

#my-nav {
  background-color: LightBlue;
  left: 0;
  width: 300px;
}

#my-nav.hidden {
  left: -300px;
}

#my-nav.hidden + #my-content {
  left: 0;
}

#my-content {
  background-color: LightGreen;
  left: 300px;
  right: 0;
}
